[submodule ".themes/whitespace"]
	path = .themes/whitespace
	url = https://github.com/lucaslew/whitespace.git
[submodule ".themes/ctrlwhitespace"]
	path = .themes/ctrlwhitespace
	url = https://github.com/artlogic/ctrlwhitespace.git
