body > header {
  background: $header-bg;
  text-align: center;
  h1 {
    display: inline-block;
    margin: 0;
    text-indent: -99999px;
    background-image: url(/images/ctrlreset-logo.png);
    width: 248px;
    height: 42px;
    a, a:visited {
      color: $title_color;
      text-decoration: none;
      display: block;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
